.about {
    min-height: 100vh;
    padding: 70px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .about {
        padding: 50px 10px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .about {
        padding: 50px;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
    .about {
        padding: 50px
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1800px) {
    .about {
        padding: 75px 100px;
    }
}

@media only screen and (min-width: 1801px) {
    .about {
        padding: 100px 200px;
    }
}

.about h2 {
    color: var(--chng-color);
    font-size: 2.4rem;
    text-transform: uppercase;
    line-height: 130%;
    letter-spacing: 2px;
}

@media only screen and (max-width: 600px) {
    .about h2 {
        font-size: 1.8rem;
        line-height: 2.4rem;
        letter-spacing: 1px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .about h2 {
        font-size: 2.2rem;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
    .about h2 {
        font-size: 2.5rem;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1800px) {
    .about h2 {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 1801px) {
    .about h2 {
        font-size: 2.6rem;
    }
}

.about-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    gap: 4rem;
}

@media only screen and (max-width: 600px) {
    .about-details {
        margin-top: 60px;
        gap: 3rem;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .about-details {
        margin-top: 65px;
        gap: 3rem;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
    .about-details {
        margin-top: 100px;
        gap: 3rem;
    }
}

.x {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 3rem; */
}

@media only screen and (max-width: 600px) {
    .x {
        flex-direction: column;
        gap: 1rem;
    }
}

.x .img {
    height: 300px;
    max-width: 50%;
    width: 100%;
    margin-right: 3rem;
}

@media only screen and (max-width: 600px) {
    .x .img {
        max-width: 100%;
        margin-right: 0;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .x .img {
        height: 270px;
        max-width: 53%;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
    .x .img {
        height: 290px;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1800px) {
    .x .img {
        height: 350px;
    }
}

@media only screen and (min-width: 1801px) {
    .x .img {
        height: 400px;
    }
}

.y .img {
    margin-right: 0;
    padding-left: 3rem;
} 

@media only screen and (max-width: 600px) {
    .y .img {
        padding-left: 0;
    }
}

.x .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.x .background {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .x .background {
        width: 100%;
    }
}

.x .background h4 {
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 125%;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
    .x .background h4 {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .x .background h4 {
        font-size: 2.1rem;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
    .x .background h4 {
        font-size: 2.2rem;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1800px) {
    .x .background h4 {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 1801px) {
    .x .background h4 {
        font-size: 2.6rem;
    }
}

.x .background p {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 130%;
}

@media only screen and (max-width: 600px) {
    .x .background p {
        font-size: 1.1rem;
        line-height: 1.5rem;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .x .background p {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
    .x .background p {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1800px) {
    .x .background p {
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 1801px) {
    .x .background p {
        font-size: 1.5rem;
    }
}