.footer {
    min-height: 60vh;
    background: var(--text-color);
    color: #fff;
    padding: 100px 150px 50px 150px;
}

@media only screen and (max-width: 600px) {
    .footer {
        padding: 30px 10px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .footer {
        padding: 40px 20px;
        min-height: 40vh;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
    .footer {
        min-height: 35vh;
        padding: 60px 60px 30px 60px;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1800px) {
    .footer {
        min-height: 50vh;
        padding: 100px 120px 50px 120px;
    }
}

@media only screen and (min-width: 1801px) {
    .footer {
        min-height: 50vh;
    }
}

.footer-x {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
    .footer-x {
        flex-direction: column;
        gap: 1rem;
    }
}

.footer-a {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 1rem;
    width: 25%;
}

@media only screen and (max-width: 600px) {
    .footer-a {
        width: 100%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .footer-a {
        width: 33%;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
    .footer-a {
        width: 33%;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1800px) {
    .footer-a {
        width: 25%;
    }
}

@media only screen and (min-width: 1801px) {
    .footer-a {
        width: 35%;
    }
}

.footer-a1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}


@media only screen and (max-width: 600px) {
    .footer-a1 {
        align-items: center;
    }
}

.footer-logo {
    width: 45px;
    height: 45px
}

@media only screen and (max-width: 600px) {
    .footer-logo {
        width: 40px;
        height: 40px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .footer-logo {
        width: 45px;
        height: 45px;
    }
}
@media only screen and (min-width: 901px) and (max-width: 1200px) {
    .footer-logo {
        width: 50px;
        height: 50px;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1800px) {
    .footer-logo {
        width: 50px;
        height: 50px;
    }
}

@media only screen and (min-width: 1801px) {
    .footer-logo {
        width: 70px;
        height: 70px;
    }
}

.footer-logo img {
    width: 100%;
    height: 100%;
}

.footer-a1 h2 {
    margin-inline-start: 10px;
    font-size: 2.5rem;
    line-height: 150%;
}

@media only screen and (max-width: 600px) {
    .footer-a1 h2 {
        font-size: 1.6rem;
        margin-inline-start: 5px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .footer-a1 h2 {
        font-size: 2.1rem;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
    .footer-a1 h2 {
        font-size: 2.6rem;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1800px) {
    .footer-a1 h2 {
        font-size: 2.2rem;
    }
}

@media only screen and (min-width: 1801px) {
    .footer-a1 h2 {
        font-size: 2.6rem;
    }
}

.coy-address p {
    font-size: 1.3rem;
    line-height: 130%;
    font-weight: 200;
    width: 80%;
}

@media only screen and (max-width: 600px) {
    .coy-address p {
        font-size: 1.1rem;
        width: 100%;
        font-weight: 300;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .coy-address p {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
    .coy-address p {
        font-size: 1.35rem;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1800px) {
    .coy-address p {
        font-size: 1.2rem;
        width: 100%;
    }
}

@media only screen and (min-width: 1801px) {
    .coy-address p {
        font-size: 1.5rem;
    }
}

.footer-a a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 300;
    position: relative;
    line-height: 130%;
}

@media only screen and (max-width: 600px) {
    .footer-a a {
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .footer-a a {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
    .footer-a a {
        font-size: 1.35rem;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1800px) {
    .footer-a a {
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 1801px) {
    .footer-a a {
        font-size: 1.4rem;
    }
}

.footer-a a::after {
    position: absolute;
    content: "";
    background: var(--chng-color);
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0%;
    transition: all 0.4s ease-in-out;
}

.footer-a a:hover:after {
    width: 100%;
}

/*  Footer Links */

.footer h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

@media only screen and (max-width: 600px) {
    .footer h3 {
        margin-block: 0.7rem;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .footer h3 {
        margin-top: 0.9rem
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
    .footer h3 {
        font-size: 1.6rem;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1800px) {
    .footer h3 {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 1801px) {
    .footer h3 {
        font-size: 2.2rem;
    }
}

.footer ul li {
    list-style: none;
    margin-block: 20px;
    font-weight: 300;
    font-size: 1.3rem;
}

@media only screen and (max-width: 600px) {
    .footer ul li {
        margin-block: 25px;
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .footer ul li {
        font-size: 1.35rem;
        margin-block: 20px;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
    .footer ul li {
        font-size: 1.4rem;
        margin-block: 25px;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1800px) {
    .footer ul li {
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 1801px) {
    .footer ul li {
        font-size: 1.5rem;
    }
}

.coy-socials {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-top: 1.5rem;
}

@media only screen and (max-width: 600px) {
    .coy-socials {
        justify-content: flex-start;
        gap: 1.5rem;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .coy-socials {
        justify-content: flex-start;
        gap: 1.2rem;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
    .coy-socials {
        justify-content: flex-start;
        gap: 1.5rem;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1800px) {
    .coy-socials {
        justify-content: flex-start;
        gap: 1.5rem;
    }
}

@media only screen and (min-width: 1801px) {
    .coy-socials {
        justify-content: flex-start;
        gap: 2.5rem;
    }
}

.socials {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

@media only screen and (max-width: 600px) {
    .socials {
        width: 30px;
        height: 30px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .socials {
        width: 30px;
        height: 30px;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
    .socials {
        width: 30px;
        height: 30px;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1800px) {
    .socials {
        width: 30px;
        height: 30px;
    }
}

@media only screen and (min-width: 1801px) {
    .socials {
        width: 35px;
        height: 35px;
    }
}

.socials:hover {
    transform: scale(1.2);
    color: var(--chng-color);
}

.copyright {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
    margin-top: 100px;
}

@media only screen and (max-width: 600px) {
    .copyright {
        font-size: 1.1rem;
        margin-top: 50px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .copyright {
        font-size: 1.2rem;
        margin-top: 50px;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
    .copyright {
        font-size: 1.35rem;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1800px) {
    .copyright {
        font-size: 1.2rem;
        margin-top: 70px;
    }
}

@media only screen and (min-width: 1801px) {
    .copyright {
        font-size: 1.4rem;
    }
}