.addToCart {
    width: 25px;
    color: #fff;
    background-color: var(--chng-color);
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .addToCart {
        width: 20px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .addToCart {
        width: 30px;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
    .addToCart {
        width: 30px;
    }
}

.meal {
    width: 280px;
    height: auto;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 10px 20px #9b0b0136;
}

@media only screen and (max-width: 600px) {
    .meal {
        width: 155px;
        min-height: 200px;
        padding: 10px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .meal {
        width: 300px;
        min-height: auto;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
    .meal {
        width: 350px;
        min-height: auto;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1800px) {
    .meal {
        width: 250px;
        min-height: auto;
    }
}

.meal-image {
    width: 100%;
    height: 200px;
    margin-inline: auto;
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    .meal-image {
        height: 130px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .meal-image {
        height: 230px;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
    .meal-image {
        height: 250px;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1800px) {
    .meal-image {
        height: 180px;
    }
}

.meal-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.8s ease-in-out;
    overflow: hidden;
    border-radius: 5px;
}

.meal-image img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.meal h1 {
    font-size: 1.3rem;
    line-height: 120%;
    color: var(--text-color);
    margin-block: 1rem 0.3rem;
    font-weight: 600;
}

@media only screen and (max-width: 600px) {
    .meal h1 {
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .meal h1 {
        font-size: 1.4rem;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
    .meal h1 {
        font-size: 1.8rem;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1800px) {
    .meal h1 {
        font-size: 1.1rem;
    }
}

.meal span {
    font-size: 1rem;
    color: var(--chng-color);
    font-weight: 600;
}

@media only screen and (max-width: 600px) {
    .meal span {
        font-size: .8rem;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .meal span {
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
    .meal span {
        font-size: 1.25rem;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1800px) {
    .meal span {
        font-size: 0.9rem;
    }
}

.meal .price {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .meal .price {
        margin-top: 2rem;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
    .meal .price {
        margin-top: 2.2rem;
    }
}



.meal .price h4 {
    color: var(--text-color);
    font-size: 1.7rem;
    line-height: 120%;
}

@media only screen and (max-width: 600px) {
    .meal .price h4 {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .meal .price h4 {
        font-size: 2.2rem;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
    .meal .price h4 {
        font-size: 2.2rem;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1800px) {
    .meal .price h4 {
        font-size: 1.5rem;
    }
}